<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>CityNov :: Modification de nom_de_mon_produit</title>
    {#Intégrer les css spécifiques ici#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
<div class="alert alert-danger">
    <strong>Ceci est un message d'erreur</strong>
</div>
<div class="alert alert-success">
    <strong>Ceci est un message de succès</strong>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img alt="CityNov" src="/img/citynov-logo.png" width="20px" height="20px">
                    </a>
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            {#Lien vers la liste de produits#}
                            <a href="#">< Retour</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </nav>
            <section>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <form>
                            <div class="form-group">
                                <label class="required">Libellé du produit</label>
                                <input type="text" required="required" class="form-control" placeholder="Libellé" value="Raspberry Pi 2 Model B">
                            </div>
                            <div class="form-group">
                                <label class="required">Référence fournisseur</label>
                                <input type="text" required="required" class="form-control" placeholder="Référence" value="6594683">
                            </div>
                            <div class="form-group">
                                <label class="required">Type de produit</label>
                                <select required="required" class="form-control">
                                    <option>Choisir un type</option>
                                    <option selected="selected">Composant</option>
                                    <option>Consommable</option>
                                    <option>Service</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="required">Catégorie</label>
                                <select required="required" class="form-control">
                                    <option>Choisir une catégorie</option>
                                    <option>Consommables</option>
                                    <option>Informatique</option>
                                    <option selected="selected">Informatique - Cartes Mères</option>
                                    <option>Informatique - Carte Graphique</option>
                                    <option>Services</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="required">Description</label>
                                <textarea required="required" class="form-control" placeholder="Votre texte ici">Plus puissante et plus rapide que sa petite soeur, Raspberry Pi 2 Type B est la carte mère idéale pour votre système d'architecture ARM. Elle intègre un puissant processeur Quad-Core ARM Cortex-A7 900 MHz (Broadcom BCM2836), 1024 Mo de RAM et un GPU Dual-Core VideoCore IV.</textarea>
                            </div>
                            <div class="form-group">
                                <label class="required">Reference</label>
                                <input type="text" disabled="disabled" required="required" class="form-control" value="PB00182827">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-submit">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{#Insérer les scripts JS spécifiques ici#}
</body>
</html>