<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>CityNov :: Liste des produits</title>
    {#Intégrer les css spécifiques ici#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
<div class="alert alert-danger">
    <strong>Ceci est un message d'erreur</strong>
</div>
<div class="alert alert-success">
    <strong>Ceci est un message de succès</strong>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/produit/">
                        <img alt="CityNov" src="/img/citynov-logo.png" width="20px" height="20px">
                    </a>
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active">
                            <a href="#">Composant</a>
                        </li>
                        <li>
                            <a href="#">Consommable</a>
                        </li>
                        <li>
                            <a href="#">Service</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Ajouter</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <section>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-md-1">
                            <button class="btn btn-danger">Supprimer</button>
                        </th>
                        <th class="col-md-6">
                            Libellé
                        </th>
                        <th class="col-md-1">
                            Catégorie
                        </th>
                        <th class="col-md-1">
                            Référence
                        </th>
                        <th class="col-md-1">
                            Référence Fournisseur
                        </th>
                        <th class="col-md-1">
                            Type
                        </th>
                        <th class="col-md-1">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                        </td>
                        <td>
                            <a href="#">
                                Dacomex bombe dépoussiérante à air comprimé (500 g)
                            </a>
                        </td>
                        <td>
                            Consommables
                        </td>
                        <td>
                            PB00041215
                        </td>
                        <td>
                            3569875
                        </td>
                        <td>
                            Consommable
                        </td>
                        <td>
                            <a href="#" class="btn btn-info">Modifier</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                        </td>
                        <td>
                            <a href="#">
                                Tissu de nettoyage doux
                            </a>
                        </td>
                        <td>
                            Consommables
                        </td>
                        <td>
                            PB00111229
                        </td>
                        <td>
                            5548796
                        </td>
                        <td>
                            Consommable
                        </td>
                        <td>
                            <a href="#" class="btn btn-info">Modifier</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                        </td>
                        <td>
                            <a href="#">
                                ASUS GeForce GTX 1080 ROG STRIX-GTX1080-A8G-GAMING
                            </a>
                        </td>
                        <td>
                            Informatique - Carte Graphique
                        </td>
                        <td>
                            PB00212522
                        </td>
                        <td>
                            2456893
                        </td>
                        <td>
                            Composant
                        </td>
                        <td>
                            <a href="#" class="btn btn-info">Modifier</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                        </td>
                        <td>
                            <a href="#">
                                MSI GeForce GTX 1080 GAMING X 8G
                            </a>
                        </td>
                        <td>
                            Informatique - Carte Graphique
                        </td>
                        <td>
                            PB00209764
                        </td>
                        <td>
                            3165478
                        </td>
                        <td>
                            Composant
                        </td>
                        <td>
                            <a href="#" class="btn btn-info">Modifier</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                        </td>
                        <td>
                            <a href="#">
                                Raspberry Pi 2 Model B
                            </a>
                        </td>
                        <td>
                            Informatique - Cartes Mères
                        </td>
                        <td>
                            PB00182827
                        </td>
                        <td>
                            6594683
                        </td>
                        <td>
                            Composant
                        </td>
                        <td>
                            <a href="#" class="btn btn-info">Modifier</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                        </td>
                        <td>
                            <a href="#">
                                Forfait diagnostic et réparation
                            </a>
                        </td>
                        <td>
                            Services
                        </td>
                        <td>
                            REPA00001
                        </td>
                        <td>
                            1235649
                        </td>
                        <td>
                            Service
                        </td>
                        <td>
                            <a href="#" class="btn btn-info">Modifier</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{#Insérer les scripts JS spécifiques ici#}
</body>
</html>