<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>CityNov :: Création d'un produit</title>
    {#Intégrer les css spécifiques ici#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
<div class="alert alert-danger">
    <strong>Ceci est un message d'erreur</strong>
</div>
<div class="alert alert-success">
    <strong>Ceci est un message de succès</strong>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img alt="CityNov" src="/img/citynov-logo.png" width="20px" height="20px">
                    </a>
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#">&lt; Retour</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    </ul>
                </div>
            </nav>
            <section>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <form>
                            <div class="form-group">
                                <label class="required">Libellé du produit</label>
                                <input type="text" required="required" class="form-control" placeholder="Libellé">
                            </div>
                            <div class="form-group">
                                <label class="required">Référence fournisseur</label>
                                <input type="text" required="required" class="form-control" placeholder="Référence">
                            </div>
                            <div class="form-group">
                                <label class="required">Type de produit</label>
                                <select required="required" class="form-control">
                                    <option selected="selected">Choisir un type</option>
                                    <option>Composant</option>
                                    <option>Consommable</option>
                                    <option>Service</option></select>
                            </div>
                            <div class="form-group">
                                <label class="required">Catégorie</label>
                                <select required="required" class="form-control">
                                    <option selected="selected">Choisir une catégorie</option>
                                    <option>Consommables</option>
                                    <option>Informatique</option>
                                    <option>Informatique - Cartes Mères</option>
                                    <option>Informatique - Carte Graphique</option>
                                    <option>Services</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="required">Description</label>
                                <textarea required="required" class="form-control" placeholder="Votre texte ici"></textarea>
                            </div>
                            <div>
                                <button type="submit" id="produit_Envoyer" name="produit[Envoyer]" class="btn btn-submit">
                                    Envoyer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{#Insérer les scripts JS spécifiques ici#}
</body>
</html>