<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>CityNov :: nom_de_mon_produit</title>
    {#Intégrer les css spécifiques ici#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
<div class="alert alert-danger">
    <strong>Ceci est un message d'erreur</strong>
</div>
<div class="alert alert-success">
    <strong>Ceci est un message de succès</strong>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img alt="CityNov" src="/img/citynov-logo.png" width="20px" height="20px">
                    </a>
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#">&lt; Retour</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    </ul>
                </div>
            </nav>
            <section>
                <div class="panel panel-default">
                    <div class="panel-heading">RASPBERRY PI 2 MODEL B</div>
                    <div class="panel-body">
                        Plus puissante et plus rapide que sa petite soeur, Raspberry Pi 2 Type B est la carte mère idéale pour votre système d'architecture ARM. Elle intègre un puissant processeur Quad-Core ARM Cortex-A7 900 MHz (Broadcom BCM2836), 1024 Mo de RAM et un GPU Dual-
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{#Insérer les scripts JS spécifiques ici#}
</body>
</html>